.App {
  margin-top: 0.5rem;
  text-align: center;
}

.umbrella-box{
  display: flex;
  justify-content: space-around;
}

.umbrella-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.circle{
  /* height: 10px;
  width: 10px; */
  /* padding: 1px; */
  border: 1px solid black;
  border-radius: 50%;
}

.circle-box{
  display: flex;
  justify-content: space-around;
}

.black{
  background-color: black;
}

.grey{
  background-color: gray;
}

.green {
  background-color: rgb(6, 56, 6);
}

.brown {
  background-color: brown;
}

.sky {
  background-color: skyblue;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

.pink {
  background-color: pink;
}

.upload-box {
  display: flex;
  justify-content: space-around;
  background-color: dodgerblue;
  color: white;
  font-weight: 700;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.logo {
  position: absolute;
  margin-top: 33rem;
  margin-left: -22.5rem;
  z-index: +10;
}

button :hover{
  cursor: pointer;
}